.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo-container {
  display: flex;
  align-items: center;
}

.main {
  flex: 1;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

.scroll-box {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-thumb) var(--scroll-track);
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  border-radius: 5px;
  overflow: hidden;
}

th, td {
  padding: 1rem;
  border: 1px solid var(--text-color-reverse);
  text-align: left;
}

th {
  background-color: var(--btn-bg);
  color: var(--text-color-reverse);
}

tbody tr:hover {
  background-color: #f1f1f1;
}

[data-theme='dark'] tbody tr:hover {
    color: var(--text-color-reverse);
    background-color: #f1f1f1;
}

.footer {
  background-color: var(--footer-bg);
  color: #333;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  color: var(--text-color);
}
